
/* Your CSS Code here. */
/* Initial State */
#btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Hover State */
#btn:hover {
  background-color: yellow;
  color: black;
  border-radius: 30px;
}
